<div class="media card-with-icon">
    <div class="card-with-icon-icon">
        <i class="fa <%= icon %>"></i>
    </div>
    <div class="media-body">
        <h4 class="h5 font-weight-bold mt-0"><%= title %></h4>
        <p><%= description %></p>
    </div>
</div>