<div class="card-with-avatar">
    <div class="card-with-avatar-image">
        <img src="<%= image %>" alt="">
    </div>
    <div class="card-with-avatar-content">
        <h3 class="h5 font-weight-bold"><%= name %></h3>
        <p><%= position %></p>
        <hr>
        <ul class="card-with-avatar-social">
            <li>
                <a href="#">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
        </ul>
    </div>
</div>