<section class="text-center cta-buy">
    <div class="l-container">
        <div class="row align-items-center justify-content-center">
            <h2 class="h3"><%= title %></h2>
            <a href="#" class="btn btn-outline-secondary btn-lg"><%= buttonText %></a>
        </div>
    </div>
</section>