$font-smoothing: antialiased;
$text-rendering: auto;
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-font-color: #333;
$base-background-color: #fff;
$color-black: #333;
$color-white: #fff;

$breakpoint-tablet: 1080px;
$breakpoint-mobile: 768px;

$breakpoint-mobile-520: 520px;
$breakpoint-mobile-425: 425px;
$breakpoint-mobile-375: 375px;
$breakpoint-mobile-min: 320px;