<footer class="footer">
    <div class="l-container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-brand">
                    <a class="navbar-brand text-white" href="#">
                        <img src="./images/logo-white.png" width="40" height="40" class="d-inline-block align-middle" alt="">
                        Pluto
                    </a>
                    <small class="d-block footer-copyright text-white">
                        Made with love by <a href="#" class="text-white">kripalser</a> <br>
                        © 2013
                    </small>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-contact">
                    <h2 class="h6 text-light">CONTACT US</h2>
                    <p>
                        <a href="mailto:hello@example.com">hello@example.com</a> <br>
                        121 King Street, Melbourne <br>
                        Victoria 3000 Australia <br>
                        Phone: <a href="tel:+61 3 8376 6284">+61 3 8376 6284</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 p-0">
                <div class="footer-tweet">
                    <h2 class="h6 text-light">RECENT TWEET</h2>
                    <p>
                        <em>December 3</em> <br>
                        Testing 1, 2, 3. We've just launched version 1 of our new Envato Marketplaces Hub! Let us know what you think :) <a href="#">http://envatomarketplaces.com</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-photostream">
                    <h2 class="h6 text-light">PHOTOSTREAM</h2>
                    <ul class="row mt-4">
                        <li class="col-4">
                            <img src="https://via.placeholder.com/80x80/b1abb6/b1abb6" alt="">
                        </li>
                        <li class="col-4">
                            <img src="https://via.placeholder.com/80x80/b1abb6/b1abb6" alt="">
                        </li>
                        <li class="col-4">
                            <img src="https://via.placeholder.com/80x80/b1abb6/b1abb6" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button class="back-to-top">
        <span></span>
    </button>
</footer>