<header class="header">
	<div class="l-container">
		<nav class="navbar navbar-expand-lg">
			<nav class="navbar navbar-light p-0">
				<a class="navbar-brand js-header-item" href="#">
					<img src="./images/logo.png" width="40" height="40" class="d-inline-block align-middle" alt="">
					Pluto
				</a>
			</nav>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto align-items-lg-center">
					<li class="nav-item active js-header-item">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item js-header-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item dropdown js-header-item">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Adventure</a>
							<a class="dropdown-item" href="#">Education</a>
							<a class="dropdown-item" href="#">Technology</a>
						</div>
					</li>
					<li class="nav-item js-header-item">
						<a class="nav-link" href="#">Blog</a>
					</li>
					<li class="nav-item js-header-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item js-header-item">
						<form class="form-inline">
							<button class="btn btn-outline-dark my-2 my-sm-0 border-0 header-search" type="submit">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<div class="header-single">
	<div class="l-container">
		<div class="row justify-content-between">
			<div class="col-6 align-self-center js-header-single-item">
				<h1 class="h2 text-white m-0">About us</h1>
			</div>
			<div class="col-6 align-self-center js-header-single-item">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-transparent m-0 justify-content-end align-items-center">
						<li class="breadcrumb-item">
							<a href="#" color="text-white">Home</a>
						</li>
						<li class="breadcrumb-item text-white active" aria-current="page">About us</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>