.footer {
    background-color: $color-primary-darker;

    h2 {
        color: $color-text;
        font-size: 13px;
        letter-spacing: 0.1em;
    }

    &-brand {
        opacity: 0.2;
    }


    &-copyright {
        margin-top: 17px;
        font-size: 14px;
        line-height: 2.3;
    }

    &-contact {

        p {
            color: $color-text;
            font-size: 14px;
            line-height: 1.7;
            margin-top: 17px;
    
            a[href^="mailto:"] {
                color: $color-orange;
                font-size: 18px;
                font-weight: 700;
            }
    
            a[href^="tel:"] {
                color: $color-text;
            }
        }
    }

    &-tweet {
        color: $color-white;
        font-size: 14px;
        padding: 0 16px;

        em {
            font-style: normal;
            color: $color-text;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }

        p {
            line-height: 1.7;
            margin: 18px 0 0;
        }

        a {
            color: $color-orange;
        }
    }

    &-photostream {
        ul {
            margin-top: 28px
        }
    }
}