.social-list {
    li:not(:last-child) {
        margin-right: 15px;
    }
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: $color-white;
    background-color: $color-secondary;
    font-size: 16px;

    &-circle {
        border-radius: 50%;
    }
}