<!DOCTYPE html>
<html>
<head>
  <%- include('./web-elements/modules/header', {pageTitle: 'Test Website'}) %>
</head>
<body>
<%- include('./web-elements/layout/l-header') %>

<%- include('./web-elements/layout/l-footer') %>
<%- include('./web-elements/modules/footer') %>
</body>
</html>