<%
  const page = {
    title: 'Gulp Template'
  }
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= page.title %></title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
hi :D

<script src="./js/main.js"></script>
</body>
</html>